p{
    text-align:center;
    font-size:18px;
}

h1{
    margin-bottom:20px;

}
.button-container {
    text-align: center;
    margin-top: 20px;
}

.button-container button {
    display: inline-block;
}

#description {
    text-align:center;
    display: grid;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin:auto;
}